.foodTitle {
    text-align: center;
    margin: 2rem 0rem;
}

.chosenBeer {
    border: 2px solid black;

}

.chosenBeerImage {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 1rem auto;
}

.chosenBeerP {
    text-align: center;

}

.pairingSuggestion {
    border: 2px solid black;
    margin: 2rem 0;
    text-align: center;
}

.recipePhoto {
    margin-left: 50px;
}

.newCard {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#foodGoBack {
  margin-top: 1rem;
  position: relative;
  top: 50%;
  left:40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



