body {
    background-image: url("https://images.unsplash.com/photo-1580397581145-cdb6a35b7d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1330&q=80");
  }

header{
    background-color: wheat
}

.pageTitle {
    font-family: 'Climate Crisis', cursive;
    text-shadow: 7px 7px 7px lightblue;
 }

#buttonFont {
    font-family: 'Climate Crisis', cursive; 

}

.fa-solid{
    text-shadow: 3px 3px 3px lightblue; 
}

.beer-img {
    height: 400px !important;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.carouselForBeer {
    position:absolute;
    top: 10%;
    left: 0.5%;
}

.carouselForFood {
    position:absolute;
    top: 10%;
    right: 0.5%;
}

#footerBkgrnd {
    background-color: wheat;
}

.foodTitle {
    text-align: center;
    margin: 2rem 0rem;
}

.chosenBeerP {
    text-align: center;

}

.pairingSuggestion {
    margin: 2rem 0;
    text-align: center;
}

#foodGoBack {
  margin-top: 1rem;
  position: relative;
  top: 50%;
  left:40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

