header{
    background-color: wheat
}

.pageTitle {
    font-family: 'Climate Crisis', cursive;
    text-shadow: 7px 7px 7px lightblue;
 }

#buttonFont {
    font-family: 'Climate Crisis', cursive; 

}

.fa-solid{
    text-shadow: 3px 3px 3px lightblue; 
}

