
.bkgrimg {
    background-image: url("https://images.unsplash.com/photo-1580397581145-cdb6a35b7d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1330&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
}

.headerBkgrnd{
    background-color: wheat
}

.pageTitle {
    font-family: 'Climate Crisis', cursive;
    text-shadow: 7px 7px 7px lightblue;
 }


#buttonFont {
    font-family: 'Climate Crisis', cursive; 

}

#buttonPosition {
    position:absolute;
    bottom: 5%;
    left: 25%;

}

.fa-solid{
    text-shadow: 3px 3px 3px lightblue; 
}

.carouselForBeer {
    position:absolute;
    top: 12%;
    left: 3%;
}

.carouselForFood {
    position:absolute;
    top: 12%;
    right: 3%
}

#footerBkgrnd {
    background-color: wheat;
}